/* src/css/projects/projects.css */

/* src/components/projects.css */
.project-links {
  display: block;
  width: 100%;
}



.projects-container {
  /* position: static; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color-light);
  padding-top: 60px;
}

.projects-content {
  max-width: 900px;
  padding: 20px;
}

.projects-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.github-link {
  text-align: center;
  margin-bottom: 20px;
}

.github-link a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.github-link a:hover {
  color: var(--secondary-color);
}

.project-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
  word-break: break-word;
  overflow-wrap: break-word;
}

.project-card a {
  color: var(--tertiary-color);
}

.project-header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 1.8em;
  margin-bottom: 15px;
}

/* .project-icons {
  display: flex;
  gap: 15px;
}

.project-icons svg {
  font-size: 1em;
  color: var(--icon-color);
} */

.features-title, .server-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.project-description a {
  color: var(--tertiary-color);
}

.project-features,
.project-model-list,
.project-steps {
  font-size: 1.2em;
  margin: 15px 0;
  padding-left: 20px;
  list-style: disc;
  color: var(--text-color-light);
}

.project-steps {
  list-style: decimal;
}

.project-link-list {
  font-size: 1.2em;
  margin-top: 15px;
}

.project-link-list a {
  color: var(--primary-color);
  text-decoration: none;
}

.project-link-list a:hover {
  color: var(--secondary-color);
}

.project-video {
  text-align: center;
  margin-top: 20px;
}

.project-video img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-video a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-video a:hover {
  color: var(--secondary-color);
}

.project-link {
  margin-top: 15px;
  text-align: center;
}

.project-link a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-link a:hover {
  color: var(--secondary-color);
}

/* Media queries for responsiveness */

@media only screen and (max-width: 600px) {

  .projects-container {
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    word-wrap: break-word;
    box-sizing: border-box;

  }

  .projects-content {
    width: fit-content;
    word-wrap: break-word;
    box-sizing: border-box;
    align-items: center;    
  }

  .projects-title {
    font-size: 2em;
    box-sizing: border-box;
  }

  .github-link a {
    font-size: 1em;
  }

  .project-title {
    font-size: 1.5em;
  }

  .project-description, .project-features, .project-model-list, .project-steps, .project-link-list {
    font-size: 1em;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
  }

  .project-card {
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .features-title, .server-title {
    font-size: 1.4em;
  }

  .project-video img {
    max-width: 60%;
    /* display: none; */
  }
  


}
