/* src/css/projects/projects.css */

.projects-container {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color-light);
  padding-top: 60px;
}

.projects-content {
  max-width: 800px;
  padding: 20px;
}

.projects-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.github-link {
  text-align: center;
  margin-bottom: 20px;
}

.github-link a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.github-link a:hover {
  color: var(--secondary-color);
}

.project-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.project-card a {
  color: var(--tertiary-color);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.project-icons {
  display: flex;
  gap: 15px;
}

.project-icons svg {
  font-size: 1em;
  color: var(--icon-color);
}

.features-title, .server-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.project-description a {
  color: var(--tertiary-color);
}

.project-features,
.project-model-list,
.project-steps {
  font-size: 1.2em;
  margin: 15px 0;
  padding-left: 20px;
  list-style: disc;
  color: var(--text-color-light);
}

.project-steps {
  list-style: decimal;
}

.project-link-list {
  font-size: 1.2em;
  margin-top: 15px;
}

.project-link-list a {
  color: var(--primary-color);
  text-decoration: none;
}

.project-link-list a:hover {
  color: var(--secondary-color);
}

.project-video {
  text-align: center;
  margin-top: 20px;
}

.project-video img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-video a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-video a:hover {
  color: var(--secondary-color);
}

.project-link {
  margin-top: 15px;
  text-align: center;
}

.project-link a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-link a:hover {
  color: var(--secondary-color);
}

/* Media queries for responsiveness */

@media only screen and (max-width: 600px) {
  .projects-container {
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
  }

  .projects-title {
    font-size: 2em;
  }

  .github-link a {
    font-size: 1em;
  }

  .project-title {
    font-size: 1.5em;
  }

  .project-description, .project-features, .project-model-list, .project-steps, .project-link-list {
    font-size: 1em;
  }

  .project-icons {
    flex-wrap: wrap; /* Allow icons to wrap to next line */
    justify-content: center; /* Center align icons */
  }

  .project-icons svg {
    flex: 0 0 20%; /* Make icons take up 20% of container width (5 icons per row) */
    margin-right: 5px; /* Add small margin between icons */
  }

  .project-icons svg:not(:last-child) {
    margin-right: 0; /* Remove right margin for icons in the last column */
  }

  .project-card {
    padding: 15px;
    margin-bottom: 20px;
  }

  .features-title, .server-title {
    font-size: 1.4em;
  }
  .projects-content {
    max-width: fit-content;
    padding: 20px;
  }


.project-video img {
  max-width: 80%;
}
}
