/* src/components/skills/skills.css */

/* Add this class for the skill logo */
.skill-logo {
  position: absolute;
  top: 10px; /* Adjust top position */
  right: 10px; /* Adjust right position */
  width: 40px; /* Adjust logo size */
  height: auto;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color); /* Add this line */
  color: var(--text-color-light); /* Add this line */
  padding-top: 80px; 
  text-align: center;
}

.skills-content {
  max-width: 800px;
  margin: 20px;
}

.skills-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}


.skills-subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-decoration: underline;
}

.engineering-skills,
.computer-science-skills {
  margin-bottom: 40px;
}

.skill-card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.skill-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Add relative positioning */
}

/* Add margin to the elements within the skill card */
.skill-card h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  margin-top: 0; /* Add margin-top to separate from the logo */
}

.skill-card p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.skill-level {
  font-size: 1em;
  color: #888; /* Adjust color to a grayish shade */
  margin-bottom: 5px;
  margin-top: 0; /* Add margin-top to separate from the title */
}
