/* src/css/home.css */

.whole-home {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Allow it to take up remaining space */
  color: var(--text-color-light);
  padding-top: 100px; /* Adjust for fixed navbar */
  text-align: center;
}

.bio-text a , .about-me-content a{
  color: var(--tertiary-color);
}

.home-card, .about-me-card {
  background-color: var(--card-background);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 20px;
  font-size: 25px;
}

.home-card h2, .about-me-card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-card p, .about-me-card p {
  font-size: 1.2em;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-content {
  text-align: center;
}

.contact-text {
  color: #fff;
}

.contact-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: var(--card-background);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.contact-button a {
  color: var(--card-background);
  background-color: var(--primary-color);
}

.contact-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  .home-container {
    padding-top: 130px;
  }
  .home-card, .about-me-card {
    padding: 20px; 
    font-size: 20px;
    max-width: 50%;
  }

  .home-card h2, .about-me-card h2 {
    font-size: 2em; /* Decrease font size */
  }

  .home-card p, .about-me-card p {
    font-size: 1em; /* Decrease font size */
  }

  .profile-image {
    width: 200px; /* Decrease image size */
    height: 200px; /* Decrease image size */
  }

  .contact-button {
    font-size: 1em; /* Decrease font size */
  }
}
