/* src/css/experience.css */

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color); /* Add this line */
  color: var(--text-color-light); /* Add this line */
  min-height: 100vh; /* Ensure it covers full height */
  padding-top: 100px; /* Adjust for fixed navbar */
  text-align: center;
}

.experience-content {
  max-width: 100%; /* Update to stretch content */
  width: 800px; /* Set maximum width */
  margin: 20px auto; /* Center content */
}

.experience-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.experience-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.experience-card h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.experience-card p {
  font-size: 1.2em;
  margin-bottom: 10px;
}
