/* src/css/home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color); /* Add this line to set the background color */
  color: var(--text-color-light); /* Add this line to set the text color */
  min-height: 100vh; /* Ensure it covers full height */
  padding-top: 100px; /* Adjust for fixed navbar */
  text-align: center;
}

.home-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px;
}

.home-card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-card p {
  font-size: 1.2em;
}

.image-container {
  margin-top: 20px;
}

.profile-image {
  width: 300px; /* Increase the width */
  height: 300px; /* Increase the height */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  border: 4px solid #fff; /* Add a white border for better contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px;
  text-align: center; /* Center the text */
}

.about-me-card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-me-card p {
  font-size: 1.2em;
}

.about-me-content {
  text-align: center;
}
