/* src/css/navbar.css */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--card-background);
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

.nav-image {
  margin-right: auto; /* Align the image to the far left */
}

.nav-profile-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
}

nav ul li a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  padding: 10px 20px;
}

nav ul li a:hover {
  color: var(--secondary-color);
}
