/* src/css/skills.css */

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color); /* Add this line */
    color: var(--text-color-light); /* Add this line */
    min-height: 100vh; /* Ensure it covers full height */
    padding-top: 100px; /* Adjust for fixed navbar */
    text-align: center;
  }
  
  .skills-content {
    max-width: 800px;
    margin: 20px;
  }
  
  .skills-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .skill-card {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .skill-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .skill-card p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  