/* src/css/experience.css */
.whole-home {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--text-color-light);
  text-align: center;
  padding-top: 80px;
}

.experience-content {
  background-color: var(--card-background);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 20px;
}

.experience-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.experience-card {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left; /* Align text to the left for better readability */
}

.experience-card h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.experience-card p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.experience-card ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.experience-card ul li {
  margin-bottom: 5px;
}


.experience-text {
  text-align: center;
}

.experience-card p {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .experience-container {
    padding-top: 140px; /* Adjust padding top for smaller screens */
  }

  .experience-content {
    padding: 20px; /* Decrease padding for smaller screens */
  }

  .experience-title {
    font-size: 2em; /* Decrease title font size for smaller screens */
  }

  .experience-card {
    padding: 15px;
    margin-bottom: 15px; /* Decrease margin bottom for smaller screens */
  }

  .experience-card h3 {
    font-size: 1.5em; 
    margin-bottom: 8px;
  }

  .experience-card p {
    font-size: 1em; 
    margin-bottom: 8px;
  }

  .experience-card ul {
    padding-left: 15px;
    margin-bottom: 8px;
  }

  .experience-card ul li {
    margin-bottom: 3px;
  }

  .experience-text {
    text-align: center; /* Center align text for smaller screens */
  }

  .experience-card p {
    text-align: center; /* Center align text for smaller screens */
  }
}